div.chart-container {
    display: flex;
    flex-direction: row;
}

div.chart,
div.legend {
    display: inline-flex;
}

div.legend {
  flex-direction: column;
}

div.legend.title,
div.legend.container {
    display: inline-flex;
}

.title,
.unit
 {
    stroke: none;
    font: 14px Arial;
    font-weight: bold;
}

.axis > line .domain,
.tick > line {
    fill: none;
    stroke-width: 1;
    font: 12px Arial;
}
.tick > text,
.legend .item {
    stroke: none;
    font: 12px Arial;
}
.tooltip {
    stroke: none;
    font: 14px Arial;
    z-index: 2;
}
.legend .title,
.legend .dot,
.legend .item,
.axis .title,
.axis .unit {
    cursor: pointer;
}

.legend .container{
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    margin-bottom: 15px;
}
