body{
  background: rgba(0,0,0,0.05);
  font-family: Arial;
}
img{
  border:0;
}
.content {
  max-width: 500px;
  margin: auto;
}
form{
  position: absolute;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: 200px;
  border: 4px dashed #fff;
}
form p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #000000;
  
}
form input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
form button{
  margin: 0;
  color: #fff;
  background: #4444dd;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #3333cc;
  transition: all .2s ease;
  outline: none;
}
form button:hover{
  background: #6666ff;
	color: #0C5645;
}
form button:active{
  border:0;
}


